{
  "openapi": "3.0.3",
  "info": {
    "title": "QC Business Manager API",
    "description": "Generated from the route table by scripts/generate-openapi.js (A12). x-auth lists the middleware gate(s); \"public\" = no auth middleware detected on the route line. Regenerate after route changes — do not edit by hand.",
    "version": "2026-06-11"
  },
  "servers": [
    {
      "url": "https://act.qcpaintshop.com"
    }
  ],
  "paths": {
    "/r/{code}": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /r/:code",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/share/estimate/{token}": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /share/estimate/:token",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/share/painter-estimate/{token}": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /share/painter-estimate/:token",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/share/design-request/{token}": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /share/design-request/:token",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/oauth/callback": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /oauth/callback",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/settings/branding": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/settings/branding",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/settings": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/settings",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "settings.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/settings",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "settings.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/settings/{category}": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/settings/:category",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "settings.manage",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/settings/{key}": {
      "put": {
        "tags": [
          "server-inline"
        ],
        "summary": "PUT /api/settings/:key",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "settings.manage",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload/logo": {
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/upload/logo",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "settings.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload/profile": {
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/upload/profile",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/guest/brands": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/guest/brands",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/guest/categories": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/guest/categories",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/guest/products": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/guest/products",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/site-info": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/public/site-info",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/branches": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/public/branches",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/brands": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/public/brands",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/public/design-requests": {
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/public/design-requests",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/design-requests": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/design-requests",
        "x-source": "server.js",
        "x-auth": [
          "requireRole"
        ],
        "x-roles": "admin,manager",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/design-requests/stats": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/design-requests/stats",
        "x-source": "server.js",
        "x-auth": [
          "requireRole"
        ],
        "x-roles": "admin,manager",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/design-requests/{id}": {
      "put": {
        "tags": [
          "server-inline"
        ],
        "summary": "PUT /api/design-requests/:id",
        "x-source": "server.js",
        "x-auth": [
          "requireRole"
        ],
        "x-roles": "admin,manager",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ai-status": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/ai-status",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/brands": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/brands",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/brands",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "brands.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/brands/{id}": {
      "put": {
        "tags": [
          "server-inline"
        ],
        "summary": "PUT /api/brands/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "brands.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "server-inline"
        ],
        "summary": "DELETE /api/brands/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "brands.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/categories": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/categories",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/categories",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "categories.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/categories/{id}": {
      "put": {
        "tags": [
          "server-inline"
        ],
        "summary": "PUT /api/categories/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "categories.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "server-inline"
        ],
        "summary": "DELETE /api/categories/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "categories.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/users",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "staff.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/users",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "staff.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/users/{id}": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/users/:id",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "server-inline"
        ],
        "summary": "PUT /api/users/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "staff.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "server-inline"
        ],
        "summary": "DELETE /api/users/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "staff.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/users/profile/me": {
      "put": {
        "tags": [
          "server-inline"
        ],
        "summary": "PUT /api/users/profile/me",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload/aadhar": {
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/upload/aadhar",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/upload/pan-proof": {
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/upload/pan-proof",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/users/change-password": {
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/users/change-password",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/customer-types": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/customer-types",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/customer-types",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "customers.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/customer-types/{id}": {
      "put": {
        "tags": [
          "server-inline"
        ],
        "summary": "PUT /api/customer-types/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "customers.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "server-inline"
        ],
        "summary": "DELETE /api/customer-types/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "customers.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/customers": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/customers",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/customers",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "customers.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/customers/{id}": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/customers/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "customers.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "server-inline"
        ],
        "summary": "PUT /api/customers/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "customers.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "server-inline"
        ],
        "summary": "DELETE /api/customers/:id",
        "x-source": "server.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "customers.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/calculate": {
      "post": {
        "tags": [
          "server-inline"
        ],
        "summary": "POST /api/calculate",
        "x-source": "server.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/dashboard/stats": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/dashboard/stats",
        "x-source": "server.js",
        "x-auth": [
          "requireRole"
        ],
        "x-roles": "admin,manager",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /health",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/test": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/test",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "tags": [
          "server-inline"
        ],
        "summary": "GET /api/status",
        "x-source": "server.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/clock-in": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/clock-in",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/clock-out": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/clock-out",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/today": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/today",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/my-history": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/my-history",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/break-start": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/break-start",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/break-end": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/break-end",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/break-status": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/break-status",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/permission/request": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/permission/request",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/permission/request-reclockin": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/permission/request-reclockin",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/permission/my-requests": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/permission/my-requests",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/permission/all": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/permission/all",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.approve",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/permission/pending": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/permission/pending",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.approve",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/permission/{id}/approve": {
      "put": {
        "tags": [
          "attendance"
        ],
        "summary": "PUT /api/attendance/permission/:id/approve",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/permission/{id}/reject": {
      "put": {
        "tags": [
          "attendance"
        ],
        "summary": "PUT /api/attendance/permission/:id/reject",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/photo/{id}": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/photo/:id",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/user/{userId}/month/{month}": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/user/:userId/month/:month",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.view",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/report": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/report",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/admin/mark": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/admin/mark",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/admin/force-clockout": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/admin/force-clockout",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/admin/adjust-time": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/admin/adjust-time",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/admin/today-summary": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/admin/today-summary",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/geofence-check": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/geofence-check",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/geo-auto-clockout": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/geo-auto-clockout",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/location-report": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/location-report",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/location-off": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/location-off",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/geofence-violation": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/geofence-violation",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/geofence-violations": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/geofence-violations",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/record/{id}": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/record/:id",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/admin/absent-today": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/admin/absent-today",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/outside-work/start": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/outside-work/start",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/outside-work/end": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/outside-work/end",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/outside-work/status": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/outside-work/status",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/admin/staff-timeline": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/admin/staff-timeline",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "attendance.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/prayer/start": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/prayer/start",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/prayer/end": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/prayer/end",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/prayer/status": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/prayer/status",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/check-overtime-status": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/check-overtime-status",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/request-overtime": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/request-overtime",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/acknowledge-overtime": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/acknowledge-overtime",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/overtime-request/{id}/approve": {
      "put": {
        "tags": [
          "attendance"
        ],
        "summary": "PUT /api/attendance/overtime-request/:id/approve",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "attendance.approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/overtime-request/{id}/reject": {
      "put": {
        "tags": [
          "attendance"
        ],
        "summary": "PUT /api/attendance/overtime-request/:id/reject",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "attendance.approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/overtime-requests": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/overtime-requests",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "attendance.approve",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/report/preview": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/report/preview",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/report/send": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/report/send",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/report/send-all": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/report/send-all",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/report/staff-list": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/report/staff-list",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/report/send-admin": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/report/send-admin",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/report/send-lead-alerts": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/report/send-lead-alerts",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requirePermission"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/leave-balance": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/leave-balance",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/eod-data": {
      "get": {
        "tags": [
          "attendance"
        ],
        "summary": "GET /api/attendance/eod-data",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/attendance/eod-submit": {
      "post": {
        "tags": [
          "attendance"
        ],
        "summary": "POST /api/attendance/eod-submit",
        "x-source": "routes/attendance.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/my-visibility": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/my-visibility",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/visibility/{userId}": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/visibility/:userId",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/visibility": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/visibility",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/my-config": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/my-config",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/my-monthly": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/my-monthly",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/my-payments": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/my-payments",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/my-advances": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/my-advances",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/my-advance-request": {
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/my-advance-request",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/config": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/config",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/config",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/config/{id}": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/config/:id",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/config/:id",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/calculate": {
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/calculate",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/calculate-all": {
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/calculate-all",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/monthly": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/monthly",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/monthly/{id}": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/monthly/:id",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/monthly/{id}/pdf": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/monthly/:id/pdf",
        "x-source": "routes/salary.js",
        "x-auth": [
          "public"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/monthly/{id}/send-whatsapp": {
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/monthly/:id/send-whatsapp",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/bulk/send-whatsapp": {
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/bulk/send-whatsapp",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/monthly/{id}/approve": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/monthly/:id/approve",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/monthly/{id}/adjustments": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/monthly/:id/adjustments",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/payments": {
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/payments",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/payments",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/reports/summary": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/reports/summary",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/advances": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/advances",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/advances",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/advances/summary": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/advances/summary",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/advances/{id}": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/advances/:id",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager,accountant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/advances/{id}/approve": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/advances/:id/approve",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/advances/{id}/reject": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/advances/:id/reject",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.approve",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/advances/{id}/pay": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/advances/:id/pay",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentive-slabs": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/incentive-slabs",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/incentive-slabs",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "x-roles": "admin,super_admin",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentive-slabs/{id}": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/incentive-slabs/:id",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "x-roles": "admin,super_admin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "salary"
        ],
        "summary": "DELETE /api/salary/incentive-slabs/:id",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "x-roles": "admin,super_admin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentives": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/incentives",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/incentives",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentives/summary": {
      "get": {
        "tags": [
          "salary"
        ],
        "summary": "GET /api/salary/incentives/summary",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.view",
        "x-roles": "admin,manager",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentives/{id}/approve": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/incentives/:id/approve",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "x-roles": "admin,manager",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentives/{id}/reject": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/incentives/:id/reject",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "x-roles": "admin,manager",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentives/bulk-approve": {
      "put": {
        "tags": [
          "salary"
        ],
        "summary": "PUT /api/salary/incentives/bulk-approve",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "x-roles": "admin,manager",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentives/{id}": {
      "delete": {
        "tags": [
          "salary"
        ],
        "summary": "DELETE /api/salary/incentives/:id",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireRole",
          "requirePermission"
        ],
        "x-permission": "salary.manage",
        "x-roles": "admin",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/salary/incentives/request": {
      "post": {
        "tags": [
          "salary"
        ],
        "summary": "POST /api/salary/incentives/request",
        "x-source": "routes/salary.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/estimate-requests": {
      "get": {
        "tags": [
          "estimate-requests"
        ],
        "summary": "GET /api/estimate-requests",
        "x-source": "routes/estimate-requests.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "estimate-requests"
        ],
        "summary": "POST /api/estimate-requests",
        "x-source": "routes/estimate-requests.js",
        "x-auth": [
          "public"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/estimate-requests/stats/summary": {
      "get": {
        "tags": [
          "estimate-requests"
        ],
        "summary": "GET /api/estimate-requests/stats/summary",
        "x-source": "routes/estimate-requests.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/estimate-requests/{id}": {
      "get": {
        "tags": [
          "estimate-requests"
        ],
        "summary": "GET /api/estimate-requests/:id",
        "x-source": "routes/estimate-requests.js",
        "x-auth": [
          "requireAuth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "patch": {
        "tags": [
          "estimate-requests"
        ],
        "summary": "PATCH /api/estimate-requests/:id",
        "x-source": "routes/estimate-requests.js",
        "x-auth": [
          "requireAuth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/estimate-requests/{id}/status": {
      "patch": {
        "tags": [
          "estimate-requests"
        ],
        "summary": "PATCH /api/estimate-requests/:id/status",
        "x-source": "routes/estimate-requests.js",
        "x-auth": [
          "requireAuth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/estimate-requests/{id}/assign": {
      "patch": {
        "tags": [
          "estimate-requests"
        ],
        "summary": "PATCH /api/estimate-requests/:id/assign",
        "x-source": "routes/estimate-requests.js",
        "x-auth": [
          "requireAuth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/estimate-requests/{id}/notes": {
      "post": {
        "tags": [
          "estimate-requests"
        ],
        "summary": "POST /api/estimate-requests/:id/notes",
        "x-source": "routes/estimate-requests.js",
        "x-auth": [
          "requireAuth"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/roles": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "GET /api/roles",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "roles"
        ],
        "summary": "POST /api/roles",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.manage",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/roles/permissions/all": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "GET /api/roles/permissions/all",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/roles/permissions/by-module": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "GET /api/roles/permissions/by-module",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/roles/{id}": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "GET /api/roles/:id",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "roles"
        ],
        "summary": "PUT /api/roles/:id",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "roles"
        ],
        "summary": "DELETE /api/roles/:id",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/roles/{id}/permissions": {
      "get": {
        "tags": [
          "roles"
        ],
        "summary": "GET /api/roles/:id/permissions",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "roles"
        ],
        "summary": "PUT /api/roles/:id/permissions",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "roles"
        ],
        "summary": "POST /api/roles/:id/permissions",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/roles/{id}/permissions/{permission_id}": {
      "delete": {
        "tags": [
          "roles"
        ],
        "summary": "DELETE /api/roles/:id/permissions/:permission_id",
        "x-source": "routes/roles.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "roles.manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/stats": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/stats",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/scoring/dashboard": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/scoring/dashboard",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/scoring/nurture": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/scoring/nurture",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.edit",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/stats": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/my/stats",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/today": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/my/today",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/list": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/my/list",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/create": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/my/create",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/{id}": {
      "put": {
        "tags": [
          "leads"
        ],
        "summary": "PUT /api/leads/my/:id",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/{id}/status": {
      "patch": {
        "tags": [
          "leads"
        ],
        "summary": "PATCH /api/leads/my/:id/status",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/{id}/followup": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/my/:id/followup",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/{id}/followups": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/my/:id/followups",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/check-phone": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/my/check-phone",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/re-engage": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/my/re-engage",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/{id}/re-engage": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/my/:id/re-engage",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/my/{id}/convert": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/my/:id/convert",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.own.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/performance/leaderboard": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/performance/leaderboard",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/performance/{userId}": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/performance/:userId",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/bulk/parse": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/bulk/parse",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/bulk/create": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/bulk/create",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/re-engage": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/re-engage",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/:id",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "leads"
        ],
        "summary": "PUT /api/leads/:id",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "leads"
        ],
        "summary": "DELETE /api/leads/:id",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}/status": {
      "patch": {
        "tags": [
          "leads"
        ],
        "summary": "PATCH /api/leads/:id/status",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}/assign": {
      "patch": {
        "tags": [
          "leads"
        ],
        "summary": "PATCH /api/leads/:id/assign",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}/followup": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/:id/followup",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}/followups": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/:id/followups",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}/score": {
      "get": {
        "tags": [
          "leads"
        ],
        "summary": "GET /api/leads/:id/score",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}/predict": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/:id/predict",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}/convert": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/:id/convert",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.convert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/leads/{id}/re-engage": {
      "post": {
        "tags": [
          "leads"
        ],
        "summary": "POST /api/leads/:id/re-engage",
        "x-source": "routes/leads.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "leads.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/branches/list": {
      "get": {
        "tags": [
          "branches"
        ],
        "summary": "GET /api/branches/list",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/branches": {
      "get": {
        "tags": [
          "branches"
        ],
        "summary": "GET /api/branches",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.view",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "branches"
        ],
        "summary": "POST /api/branches",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.add",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/branches/{id}": {
      "get": {
        "tags": [
          "branches"
        ],
        "summary": "GET /api/branches/:id",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "branches"
        ],
        "summary": "PUT /api/branches/:id",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "branches"
        ],
        "summary": "DELETE /api/branches/:id",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/branches/{id}/hours": {
      "get": {
        "tags": [
          "branches"
        ],
        "summary": "GET /api/branches/:id/hours",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "branches"
        ],
        "summary": "PUT /api/branches/:id/hours",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/branches/{id}/staff": {
      "get": {
        "tags": [
          "branches"
        ],
        "summary": "GET /api/branches/:id/staff",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.view",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/branches/{id}/manager": {
      "patch": {
        "tags": [
          "branches"
        ],
        "summary": "PATCH /api/branches/:id/manager",
        "x-source": "routes/branches.js",
        "x-auth": [
          "requirePermission"
        ],
        "x-permission": "branches.edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/activities/my-activities": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "GET /api/activities/my-activities",
        "x-source": "routes/activities.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/activities/stats": {
      "get": {
        "tags": [
          "activities"
        ],
        "summary": "GET /api/activities/stats",
        "x-source": "routes/activities.js",
        "x-auth": [
          "requireAuth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/activities/report/daily": {
      "get": {
        "tags": [
[...]
